#vim
*.swp

#eclipse
.classpath
.project
.settings/

#intellij
.idea
.idea/
*.iml
*.iws

#Mac
.DS_Store

#Maven
log/
logs/
*.class
target/
*/build
out

src/main/webapp/WEB-INF/classes
src/main/webapp/META-INF/
.module-cache

#package
*.jar
*.war
*.ear

#media
.txt